$primaryColor: #45404f; 
$forPhoneOnlyIndent: 4vw;
$forTabletPortraitUpIndent: 2vw;
$forTabletLandscapeIndent: 2vw;
$forDesktopUpIndent: 1vw;
$forBigDesktopIndent: 0.5vw;

.Header-Burger{grid-area: Header-Burger;}
.Header-Nav{grid-area: Header-Nav;}
.Header-Logo{grid-area: Header-Logo;}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.Header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    height: 50px;
    background-color: $primaryColor;
    color: white;
    display: grid;
    grid-template-areas: "Header-Logo Header-Burger Header-Nav";
}

.Header-Nav { 
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 50px;
}

.Header-Burger {
    height: 50px;
}

.Header-Logo {
    display: flex;
    justify-content: start;
    align-items: center;
    max-width: 100%;
    color: white;
    height: 50px;
}

.Header-Logo-Img {
    width: 150px;
}

.Nav-Item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1vw;

    min-height: 75px;
}

@media(max-width: 925px) {
    body.lock {
        overflow: hidden;
    }
    .Header {
        grid-template-areas: "Header-Logo Header-Burger" 
                             "Header-Nav Header-Nav";
    }

    .Header-Nav {
        display: none;
    }
    
    .Header-Burger {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;

        max-width: 100%;
        margin-right: 1vw;
        color: white;
        span {
            background-color: white;
            height: 2px;
            left: 0;
        }
    }

    .Header.isActive {
        height: 100%;
        grid-template-rows: 50px 1fr;
        .Burger-FirstStrip  {
            transform: rotate(45deg);
            margin-top: 24px;
        }
        .Burger-SecondStrip {
            display: none;  
        }
        .Burger-ThirdStrip {
            margin-bottom: 24px;
            transform: rotate(-45deg);
        }
        .Header-Nav { 
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            background-color: $primaryColor;
            overflow: auto;
        }
    }
}

    .Burger-FirstStrip, .Burger-ThirdStrip, .Burger-SecondStrip {
        background-color: white;
        width: 40px;
        height: 2px;
        left: 0;
        transition: all 0.2s;
    }

.Cart {
    margin-right: 1vw;
    width: 15px;
}
