body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.header__maobile {
    display: none;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    height: 50px;
    background-color: #45404f;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__burger {
    display: none;
}

.header__logo {
    max-width: 100%;
}

.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.list__item {
    min-height: 50px;
}

@media(max-width: 767px) {
    body.lock {
        overflow: hidden;
    }
    .header {
        padding: 0;
        margin: 0;
        display: none;
    }
    .header__mobile {
        position: fixed;
        height: 50px;
        width: 100%;
        top: 0;
        left: 0;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        margin-right: 4vw;
        span {
            position: absolute;
            background-color: white;
            width: 100%;
            height: 2px;
            left: 0;
            top: 9px;
        }
    }
    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.2s;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }

    .header__burger.active:before {
        top: 9px;
        transform: rotate(45deg);
    }

    .header__burger.active:after {
        bottom: 9px;
        transform: rotate(-45deg);
    }

    .header__burger.active span {
        display: none;
    }

    .header__nav__mobile {
        display: none;
    }

    .header__nav__mobile.active {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
        background-color: #45404f;
        overflow: auto;
    }

    .header__list__mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        
    }

    .header__mobile {
        position: fixed;
        width: 100%;
        background-color: #45404f;
        color: white;
    }
    .header__mobile__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
}