body {
    margin: 0 auto;
}
.goodsContainer {
    display: grid;
    grid-gap: 2vw;
    grid-template-columns: repeat(auto-fit, minmax(20vw, auto));
    background-color: #DBDAD6;
}

@media (max-width: 767px) {
    .goodsContainer {
        display: grid;
        grid-gap: 2vw;
        grid-template-columns: repeat(auto-fit, minmax(35vw, auto));
        background-color: #DBDAD6;
    }
}

@media (max-width: 767px) {
    .goodsContainer {
        display: grid;
        grid-gap: 2vw;
        grid-template-columns: repeat(auto-fit, minmax(35vw, auto));
        background-color: #DBDAD6;
    }
}

@media (max-width: 767px) {
    .goodsContainer {
        display: grid;
        grid-gap: 2vw;
        grid-template-columns: repeat(auto-fit, minmax(35vw, auto));
        background-color: #DBDAD6;
    }
}

.goodItem {
    background-color: white;
}

.header {
    display: flex;
    background-color: #E5FAF5;
    color: white;
    height: 6vh;
    justify-content: center;
    align-items: center;
}